.redes-sociales {
    list-style: none;
    padding: 0;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales li a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
}
