body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fff; /* Fondo blanco para el cuerpo */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #b7b3b3;
}
nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
section {
    margin-top: 20px;
    background-color: #f9f9f9; /* Fondo gris claro para las secciones */
    padding: 20px; /* Agregado espacio interno */
    border-radius: 10px; /* Borde redondeado */
    text-align: center;
}
#contenido {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
}
#logo-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea el contenido al espacio entre ellos */
}
#empresa-info {
    margin-left: 1000px;
    margin-right: auto;
}
#botones {
    display: flex;
    justify-content: center; /* Centra los botones */
    margin-top: 10px; /* Reducido el margen superior */
}
.boton {
    padding: 10px;
    background-color: #36a946;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px; /* Ajusta el espacio entre los botones */
}
#imagen {
    text-align: center;
    margin-top: 5px;
}

#imagen img {
    width: 100%;
    height: auto;
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}
 #nuestra-empresa {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        #servicios-cumbre{
            flex: 1;
            max-width: 400px;
            border: 2px solid #4CAF50;
            border-radius: 15px;
            padding: 15px;
            margin-bottom: 15px;
        }

        #servicios-cumbre {
            background-color: white;
        }

        #mision-vision {
            background-color: white;
        }

        #contenido-imagen {
            flex: 0.6;
            background-image: url('ruta/emepresa.jpg');
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #fff; /* Cambia el color del texto si es necesario */
            padding: 10px; /* Añade espacio alrededor del contenido */
        }

#mision-vision {
    max-width: 400px;
}

.cuadro {
    border: 2px solid #4CAF50;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.cuadro h3 {
    color: #4CAF50;
}

.cuadro p {
    font-style: italic;
}



#producto-destacado {
    margin-top: 20px;
}
.producto {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center;
    margin-bottom: 20px; /* Añade espacio entre las filas de imágenes */
}
.producto img {
    width: 30%; /* Ajusta el ancho de las imágenes según tus necesidades */
    height: auto;
    margin: 0 5px; /* Ajusta el espacio entre las imágenes */
}
.descripcion {
    text-align: center;
    width: 30%; /* Ajusta el ancho de la descripción según tus necesidades */
}
#botones-producto {
    display: flex;
    justify-content: space-between; /* Alinea los botones a los extremos horizontales */
    margin-top: 10px;
}
#botones-producto button {
    margin: 0 5px; /* Ajusta el espacio entre los botones de producto */
}
#pie-pagina {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Borde redondeado */
}