body {
    background: #D2E3C8;
    font-family: 'Arial', sans-serif;
  }
  
  ::-webkit-input-placeholder {
    color: #000000;
  }
  
  /* Contenedor principal */
  .wrapper {
    position: relative;
    margin: auto; 
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #D2E3C8;
    align-items: center; 
  
  }
  
  /* Estilos para el formulario */
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh;
  }
  
  .title {
    font-size: 35px;
    color: rgb(8, 8, 8);
  }
  
  .inp {
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
  }
  
  .input {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
  }
  
  /* Estilos para el botón de envío y el pie de página */
  .submit {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 30px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #4F6F52
  }
  
  .footer {
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0) ;
    font-size: 15px;
  }
  
  .link {
    color: rgb(23, 128, 75);
    text-decoration: none;
  }
  
  .banner {
    position: absolute;
    width: 100%;
    height: 450px;
    overflow: hidden; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: -1;
    border: 3px solid #2d5a47;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(to right, #78A083, #B3C99C);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%);
    z-index: -1;
  }
  
  .welcome_text {
    position: relative;
    font-size: 40px;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 40%;
    transform: translate(20%, 10%);
  }
  
  .para {
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  