body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

#contenido {
    display: flex;
    background-color: #555;
    padding: 10px;
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
   
}

#logo-info {
    margin-right: 20px; 
}

#empresa-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: auto; 
    
}

#empresa-info p {
    margin: 5px 0; /* Añade un margen de 5px arriba y abajo para los párrafos */
    padding: 5px; /* Añade un poco de espacio interno para mejorar la legibilidad */
    color: #fff; 
    border-radius: 10px;
}



header {
    background-color: #333;
    color: white;
    
}

#botones {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
    gap: 10px; /* Puedes ajustar el valor según el espacio deseado */
}


.boton {
    text-decoration:none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Estilos de los botones */


#imagen {
    text-align: center;
    margin: 10px;
}

#imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}

#nuestra-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cuadro {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

#mision-vision {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#producto-destacado {
    text-align: center;
    padding: 20px;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

.descripcion {
    margin: 10px 0;
}

#botones-producto {
    margin-top: 10px;
}

#pie-pagina {
    display: none; /* Inicialmente oculto */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

